# Lesson 3 Practice: Pandas Part 1

Use this notebook to follow along with the lesson in the corresponding lesson notebook: [L03-Pandas_Part1-Lesson.ipynb](./L03-Pandas_Part1-Lesson.ipynb).

## Instructions
Follow along with the teaching material in the lesson. Throughout the tutorial sections labeled as "Tasks" are interspersed and indicated with the icon: ![Task](http://icons.iconarchive.com/icons/sbstnblnd/plateau/16/Apps-gnome-info-icon.png). You should follow the instructions provided in these sections by performing them in the practice notebook.  When the tutorial is completed you can turn in the final practice notebook. For each task, use the cell below it to write and test your code.  You may add additional cells for any task as needed or desired.

## Task 1a: Setup

+ `numpy` as `np`
+ `pandas` as `pd`

In [1]:
import numpy as np
import pandas as pd

## Task 2a Create a `pd.Series` object

+ Create a series of your own design.

In [2]:
pd.Series([1,2,3,4,5,6,7,8,9,10])

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int64

## Task 2b: Creating a DataFrame

+ Create a pd.DataFrame object from a Python dictionary. Design the data as you like.

In [3]:
pd.DataFrame({'Cats':[1,2,3,4],'Dogs':[2,2,2,2],'Birds':[1,3,2,1],'Hamsters':[0,1,2,3]})

   Cats  Dogs  Birds  Hamsters
0     1     2      1         0
1     2     2      3         1
2     3     2      2         2
3     4     2      1         3

## Task 2c: Create DataFrame with labels

+ Create a 10x5 dataframe of random numeric integers that follow a [Guassian (normal) Distribution](https://docs.scipy.org/doc/numpy-1.15.0/reference/generated/numpy.random.normal.html). 
  + Center the distrubtion at 0.85.
  + We will use these values as assumed grades for a class of students
+ Adjust the row indexes to be the names of hypothetical students.
+ Adjust the columsn to be the names of hypothetical projects, homework, exam names, etc.

In [4]:
Students=pd.Series(['Marry','Tom','Bryan','Sara','Tiffany','Shaun','Abigail','Zane','Pete','Missy'])
Assignments=pd.Series(['Homework1','Homework2','Homework3','Final_Project','Test1'])
#Have to set scale otherwise you will have grades over 100% and below 0%
Grades=pd.DataFrame(np.random.normal(loc=0.85,scale=0.05,size=(10,5)),index=Students,columns=Assignments)
Grades

         Homework1  Homework2  Homework3  Final_Project     Test1
Marry     0.843642   0.794874   0.863277       0.849661  0.872296
Tom       0.842704   0.782841   0.811516       0.775736  0.933323
Bryan     0.854390   0.903064   0.895891       0.902856  0.783341
Sara      0.918065   0.806980   0.903671       0.845587  0.850702
Tiffany   0.810249   0.819161   0.890629       0.771108  0.929143
Shaun     0.839266   0.888047   0.784423       0.831638  0.843258
Abigail   0.846384   0.870085   0.825941       0.873916  0.909162
Zane      0.794282   0.877964   0.905328       0.887326  0.954762
Pete      0.846600   0.793159   0.844397       0.827525  0.895164
Missy     0.817669   0.875190   0.778780       0.871483  0.893004

## Task 3a: Import the iris.csv file

+ Import the iris dataset.
+ Take a look at the `pd.read_csv` online documentation. Write example code in a Markup cell for how you would import this file if it were tab-delimited.

In [5]:
iris=pd.read_csv('iris.xls')
iris

     sepal_length  sepal_width  petal_length  petal_width    species
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[150 rows x 5 columns]

pd.read_csv(file_name,delimiter='\t')

## Task 4a: Explore Data

 + Use `head`, `tail` and `sample` with the iris dataset.
 + Do the same with the dataset you created in task 2c.

In [6]:
print('*'*20)
print('Iris')
print('*'*20)
print('Head')
print(iris.head())
print('Tail')
print(iris.tail())
print('Sample')
print(iris.sample()) #Selects a random sample to display
#Can insert a number into any of these variables to declare the number of lines to print
#i.e. .sample(10) would print 10 random samples
print('*'*20)
print('Grades')
print('*'*20)
print('Head')
print(Grades.head())
print('Tail')
print(Grades.tail())
print('Sample')
print(Grades.sample())

********************
Iris
********************
Head
   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa
Tail
     sepal_length  sepal_width  petal_length  petal_width    species
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica
Sample
    sepal_length  sepal_width  petal_length  petal_width     species
79           5.7          2.6           3.5          1.0  versicolor
********************
Grades
********************
Head
         Homework1  Homework2  Homework3  Final_Project     Test1
Marry     0.843642   0.794874   0.863277       0.849661  0.872296
Tom       0.842704   0.782841   0.811516       0.775736  0.933323
Bryan     0.854390   0.903064   0.895891       0.902856  0.783341
Sara      0.918065   0.806980   0.903671       0.845587  0.850702
Tiffany   0.810249   0.819161   0.890629       0.771108  0.929143
Tail
         Homework1  Homework2  Homework3  Final_Project     Test1
Shaun     0.839266   0.888047   0.784423       0.831638  0.843258
Abigail   0.846384   0.870085   0.825941       0.873916  0.909162
Zane      0.794282   0.877964   0.905328       0.887326  0.954762
Pete      0.846600   0.793159   0.844397       0.827525  0.895164
Missy     0.817669   0.875190   0.778780       0.871483  0.893004
Sample
     Homework1  Homework2  Homework3  Final_Project     Test1
Tom   0.842704   0.782841   0.811516       0.775736  0.933323

## Task 5a: Viewing columns and rows

+ Display the columns and indexes of the iris dataset.
+ Do the same with the dataset you created in Task 2c.

In [7]:
print('*'*20)
print('Iris')
print('*'*20)
print(iris.columns)
print(iris.index)
print('*'*20)
print('Grades')
print('*'*20)
print(Grades.columns)
print(Grades.index)

********************
Iris
********************
Index(['sepal_length', 'sepal_width', 'petal_length', 'petal_width',
       'species'],
      dtype='object')
RangeIndex(start=0, stop=150, step=1)
********************
Grades
********************
Index(['Homework1', 'Homework2', 'Homework3', 'Final_Project', 'Test1'], dtype='object')
Index(['Marry', 'Tom', 'Bryan', 'Sara', 'Tiffany', 'Shaun', 'Abigail', 'Zane',
       'Pete', 'Missy'],
      dtype='object')

## Task 5b: Get Values

+ Check the version of `pandas` you have 
+ Use the appropriate method to convert the iris data to a dictionary.
+ Do the same with the dataset you created in Task 2c.

In [8]:
print(pd.__version__)
iris_dict=iris.to_dict()
grade_dict=Grades.to_dict()

0.25.1

## Task 5c: Using `loc`

+ Use any iris dataframe to:
  + Select a row slice with `loc`.
  + Select a row and column slice with `loc`.
  + Take a look at the [Pandas documentation for the `at` selector](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.at.html). Use what you learn there to select a single item with Pandas `at` accessor.

In [22]:
print(iris.loc[0:2])
print('*'*20)
print(iris.loc[1:4,"petal_length":])
print('*'*20)
print(iris.at[60,'petal_length'])

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
********************
   petal_length  petal_width species
1           1.4          0.2  setosa
2           1.3          0.2  setosa
3           1.5          0.2  setosa
4           1.4          0.2  setosa
********************
3.5

## Task 5d: Using `iloc`

+ Use any iris dataframe to:    
    + Select a row slice with `iloc`.
    + Select a row and column slice with `iloc`.
    + Take a look at the [Pandas documentation for the `iat` selector](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.iat.html). Use what you learn there to select a single item with Pandas `iat` accessor.

In [28]:
print(iris.iloc[20])
print('*'*20)
print(iris.iloc[3:6,2:4])
print('*'*20)
print(iris.iat[22,2])

sepal_length       5.4
sepal_width        3.4
petal_length       1.7
petal_width        0.2
species         setosa
Name: 20, dtype: object
********************
   petal_length  petal_width
3           1.5          0.2
4           1.4          0.2
5           1.7          0.4
********************
1.0

## Task 5e: Boolean Indexing

+ Create subsets of the iris dataset using boolean indexes that:
    + Use one boolean operator.
    + Use two boolean operators.

In [48]:
OneBoo=iris['petal_length']>1.5
print(iris[OneBoo].head())
print('*'*75)
TwoBoo=(iris['petal_length']>1.5) & (iris['petal_width']<0.3)
print(iris[TwoBoo].head())

    sepal_length  sepal_width  petal_length  petal_width species
5            5.4          3.9           1.7          0.4  setosa
11           4.8          3.4           1.6          0.2  setosa
18           5.7          3.8           1.7          0.3  setosa
20           5.4          3.4           1.7          0.2  setosa
23           5.1          3.3           1.7          0.5  setosa
***************************************************************************
    sepal_length  sepal_width  petal_length  petal_width species
11           4.8          3.4           1.6          0.2  setosa
20           5.4          3.4           1.7          0.2  setosa
24           4.8          3.4           1.9          0.2  setosa
25           5.0          3.0           1.6          0.2  setosa
29           4.7          3.2           1.6          0.2  setosa