# Lesson 4 Practice: Pandas Part 2

Use this notebook to follow along with the lesson in the corresponding lesson notebook: [L04-Pandas_Part2-Lesson.ipynb](./L04-Pandas_Part2-Lesson.ipynb).

## Instructions
Follow along with the teaching material in the lesson. Throughout the tutorial sections labeled as "Tasks" are interspersed and indicated with the icon: ![Task](http://icons.iconarchive.com/icons/sbstnblnd/plateau/16/Apps-gnome-info-icon.png). You should follow the instructions provided in these sections by performing them in the practice notebook.  When the tutorial is completed you can turn in the final practice notebook. For each task, use the cell below it to write and test your code.  You may add additional cells for any task as needed or desired.

## Task 1a: Setup

- import pandas
- re-create the `df` data frame
- re-create the `iris_df` data frame

In [2]:
import pandas as pd
import numpy as np
df = pd.DataFrame(
    {'alpha': [0, 1, 2, 3, 4],
     'beta': ['a', 'b', 'c', 'd', 'e']})
print(df)
print("*"*75)
iris_df=pd.read_csv('iris.xls')
print(iris_df)

   alpha beta
0      0    a
1      1    b
2      2    c
3      3    d
4      4    e
***************************************************************************
     sepal_length  sepal_width  petal_length  petal_width    species
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[150 rows x 5 columns]

## Task 2a: Inserting Columns

+ Create a copy of the `df` dataframe.
+ Add a new column named "delta" to the copy that consists of random numbers.

In [3]:
df_copy=df.copy()
df_copy['delta']=np.random.random([5])
print('The original:')
print(df)
print('*'*75)
print('The copy:')
print(df_copy)

The original:
   alpha beta
0      0    a
1      1    b
2      2    c
3      3    d
4      4    e
***************************************************************************
The copy:
   alpha beta     delta
0      0    a  0.700385
1      1    b  0.249349
2      2    c  0.369210
3      3    d  0.535715
4      4    e  0.834701

## Task 3a: Missing Data

+ Create two new copies of the `df` dataframe:
+ Add a new column to both that has missing values.
+ In one copy, replace missing values with a value of your choice.
+ In the other copy, drop rows with `NaN` values.
+ Print both arrays to confirm.

In [4]:
clone1=df.copy()
clone2=df.copy()
clone1['New']=pd.Series([1,2,3])
clone2['New']=pd.Series([6,7,8])
print(clone1)
print('*'*75)
clone1.dropna(inplace=True)
print(clone1)
print('*'*75)
print(clone2)
clone2.fillna(0,inplace=True)
print('*'*75)
print(clone2)

   alpha beta  New
0      0    a  1.0
1      1    b  2.0
2      2    c  3.0
3      3    d  NaN
4      4    e  NaN
***************************************************************************
   alpha beta  New
0      0    a  1.0
1      1    b  2.0
2      2    c  3.0
***************************************************************************
   alpha beta  New
0      0    a  6.0
1      1    b  7.0
2      2    c  8.0
3      3    d  NaN
4      4    e  NaN
***************************************************************************
   alpha beta  New
0      0    a  6.0
1      1    b  7.0
2      2    c  8.0
3      3    d  0.0
4      4    e  0.0

## Task 4a: Operations
<span style="float:right; margin-left:10px; clear:both;">![Task](./media/task-icon.png)</span>

View the [Computational tools](https://pandas.pydata.org/pandas-docs/stable/user_guide/computation.html) and [statistical methods](https://pandas.pydata.org/pandas-docs/stable/user_guide/computation.html#method-summary) documentation.
Using the list of operational functions choose five functions to use with the iris data frame.

In [5]:
print('*'*75)
print(iris_df.count())
print('*'*75)
print(iris_df.corr())
print('*'*75)
print(iris_df.std())
print('*'*75)
print(iris_df.var())
print('*'*75)
print(iris_df.cov())
print('*'*75)

***************************************************************************
sepal_length    150
sepal_width     150
petal_length    150
petal_width     150
species         150
dtype: int64
***************************************************************************
              sepal_length  sepal_width  petal_length  petal_width
sepal_length      1.000000    -0.109369      0.871754     0.817954
sepal_width      -0.109369     1.000000     -0.420516    -0.356544
petal_length      0.871754    -0.420516      1.000000     0.962757
petal_width       0.817954    -0.356544      0.962757     1.000000
***************************************************************************
sepal_length    0.828066
sepal_width     0.433594
petal_length    1.764420
petal_width     0.763161
dtype: float64
***************************************************************************
sepal_length    0.685694
sepal_width     0.188004
petal_length    3.113179
petal_width     0.582414
dtype: float64
***************************************************************************
              sepal_length  sepal_width  petal_length  petal_width
sepal_length      0.685694    -0.039268      1.273682     0.516904
sepal_width      -0.039268     0.188004     -0.321713    -0.117981
petal_length      1.273682    -0.321713      3.113179     1.296387
petal_width       0.516904    -0.117981      1.296387     0.582414
***************************************************************************

## Task 4b:  Apply

Practice using `apply` on either the `df` or `iris_df` data frames using any two functions of your choice other than `print`, `type`, and `np.sum`.

In [6]:
print(iris_df.apply(pd.isna,axis=1))
print('*'*75)
print(iris_df.apply(np.shape,axis=1))

     sepal_length  sepal_width  petal_length  petal_width  species
0           False        False         False        False    False
1           False        False         False        False    False
2           False        False         False        False    False
3           False        False         False        False    False
4           False        False         False        False    False
..            ...          ...           ...          ...      ...
145         False        False         False        False    False
146         False        False         False        False    False
147         False        False         False        False    False
148         False        False         False        False    False
149         False        False         False        False    False

[150 rows x 5 columns]
***************************************************************************
0      (5,)
1      (5,)
2      (5,)
3      (5,)
4      (5,)
       ...
145    (5,)
146    (5,)
147    (5,)
148    (5,)
149    (5,)
Length: 150, dtype: object

## Task 4c.  Occurances
Ientify the number of occurances for each species (virginica, versicolor, setosa) in the `iris_df` object.  *Hint*: the `value_counts` function only works on a `pd.Series` object, not on the full data frame..

In [7]:
iris_df['species'].value_counts() #Just specify the column

versicolor    50
virginica     50
setosa        50
Name: species, dtype: int64

## Task 5a: String Methods

+ Create a list of five strings that represent dates in the form YYYY-MM-DD (e.g. 2020-02-20 for Feb 20th, 2020).
+ Add this list of dates as a new column in the `df` dataframe.
+ Now split the date into 3 new columns with one column representing the year, another the month and another they day.
+ Combine the values from columns `alpha` and `beta` into a new column where the values are spearated with a colon.

In [8]:
dates=pd.Series(['2020-02-20','2020-02-21','2020-02-22','2020-02-23','2020-02-24'])
print(dates)
print('|'*75)
df['dates']=dates
print(df)
print('|'*75)
print(df['dates'].str.split('-'))
print('|'*75)
df['Year'],df['Month'],df['Day']=df['dates'].str.split('-').str
df['Combined']=df['alpha'].apply(str)+':'+df['beta']
print(df)

0    2020-02-20
1    2020-02-21
2    2020-02-22
3    2020-02-23
4    2020-02-24
dtype: object
|||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||
   alpha beta       dates
0      0    a  2020-02-20
1      1    b  2020-02-21
2      2    c  2020-02-22
3      3    d  2020-02-23
4      4    e  2020-02-24
|||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||
0    [2020, 02, 20]
1    [2020, 02, 21]
2    [2020, 02, 22]
3    [2020, 02, 23]
4    [2020, 02, 24]
Name: dates, dtype: object
|||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||
   alpha beta       dates  Year Month Day Combined
0      0    a  2020-02-20  2020    02  20      0:a
1      1    b  2020-02-21  2020    02  21      1:b
2      2    c  2020-02-22  2020    02  22      2:c
3      3    d  2020-02-23  2020    02  23      3:d
4      4    e  2020-02-24  2020    02  24      4:e

## Task 6a: Concatenation by Rows
+ Create the following dataframe
```Python
df1 = pd.DataFrame(
    {'alpha': [0, 1, 2, 3, 4],
     'beta': ['a', 'b', 'c', 'd', 'e']}, index = ['I1', 'I2' ,'I3', 'I4', 'I5'])
```
+ Create a new dataframe named `df2` with column names "delta" and "gamma" that contins 5 rows with some index names that overlap with the `df1` dataframe and some that do not.
+ Concatenate the two dataframes by rows and print the result.
+ You should see the two have combined one after the other, but there should also be missing values added. 
+ Explain why there are missing values.

In [25]:
df1 = pd.DataFrame({'alpha': [0, 1, 2, 3, 4],'beta': ['a', 'b', 'c', 'd', 'e']}, index = ['I1', 'I2' ,'I3', 'I4', 'I5'])
df2=pd.DataFrame({'delta':[4,11,12,3,14],'beta':['e','y','c','w','x']},index=['I5','I6','I7','I8','I9'])
print(df1)
print('*'*75)
print(df2)
print('*'*75)
list_of_df=[df1,df2]
concat=pd.concat(list_of_df)
print(concat)
#These values are misisng because all dataframes do not have the same columns
#concat is just pasting the data to the end of the first dataframe

    alpha beta
I1      0    a
I2      1    b
I3      2    c
I4      3    d
I5      4    e
***************************************************************************
    delta beta
I5      4    e
I6     11    y
I7     12    c
I8      3    w
I9     14    x
***************************************************************************
    alpha beta  delta
I1    0.0    a    NaN
I2    1.0    b    NaN
I3    2.0    c    NaN
I4    3.0    d    NaN
I5    4.0    e    NaN
I5    NaN    e    4.0
I6    NaN    y   11.0
I7    NaN    c   12.0
I8    NaN    w    3.0
I9    NaN    x   14.0

C:\Users\paige\Anaconda3\lib\site-packages\ipykernel_launcher.py:8: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

## Task 6b: Concatenation by Columns

Using the same dataframes, df1 and df2, from Task 6a practice:
+ Concatenate the two by columns
+ Add a "delta" column to `df1` and concatenate by columns such that there are 5 columns in the merged dataframe.
+ Respond in writing to this question (add a new 'raw' cell to contain your answer). What will happen if using you had performed an inner join while concatenating?  
+ Try the concatenation with the inner join to see if you are correct.

In [33]:
print(pd.concat(list_of_df,axis=1) )#if you don't have overlapping index
#names, you will not be able to concat properly
df1['delta']=['cat','dog','mouse','hamster','snake']
print('*'*75)
print(pd.concat(list_of_df,axis=1))
print('*'*75)
pd.concat(list_of_df,axis=1,join='inner')

    alpha beta    delta  delta beta
I1    0.0    a      cat    NaN  NaN
I2    1.0    b      dog    NaN  NaN
I3    2.0    c    mouse    NaN  NaN
I4    3.0    d  hamster    NaN  NaN
I5    4.0    e    snake    4.0    e
I6    NaN  NaN      NaN   11.0    y
I7    NaN  NaN      NaN   12.0    c
I8    NaN  NaN      NaN    3.0    w
I9    NaN  NaN      NaN   14.0    x
***************************************************************************
    alpha beta    delta  delta beta
I1    0.0    a      cat    NaN  NaN
I2    1.0    b      dog    NaN  NaN
I3    2.0    c    mouse    NaN  NaN
I4    3.0    d  hamster    NaN  NaN
I5    4.0    e    snake    4.0    e
I6    NaN  NaN      NaN   11.0    y
I7    NaN  NaN      NaN   12.0    c
I8    NaN  NaN      NaN    3.0    w
I9    NaN  NaN      NaN   14.0    x
***************************************************************************

C:\Users\paige\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  """Entry point for launching an IPython kernel.
C:\Users\paige\Anaconda3\lib\site-packages\ipykernel_launcher.py:5: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  """

    alpha beta  delta  delta beta
I5      4    e  snake      4    e

I think if we use inner join with these dataframes, I am going to end up with a dataframe that contains one row

#### Task 6c: Concat and append data frames
<span style="float:right; margin-left:10px; clear:both;">![Task](./media/task-icon.png)</span>

+ Create a new 5x5 dataframe full of random numbers.
+ Create a new 5x10 dataframe full of 1's.
+ Append one to the other and print it.
+ Append a single Series of zeros to the end of the appended dataframe.

In [67]:
random_df=pd.DataFrame(np.random.random([5,5])*10)
ones_df=pd.DataFrame(np.ones([5,10]))
print(random_df)
print('*'*75)
print(ones_df)
print('*'*75)
appended=random_df.append(ones_df,ignore_index=True)
print(appended)
print('*'*75)
print(ones_df.append(random_df,ignore_index=True))
print('*'*75)
zeroes=pd.Series(np.zeros(10))
print(zeroes)
appended.append(zeroes,ignore_index=True)

          0         1         2         3         4
0  4.601823  9.313346  2.633427  3.897216  4.408691
1  4.174852  6.200852  4.022953  7.493926  3.493446
2  7.512218  6.932527  0.304936  3.103871  4.168875
3  6.474867  0.768932  4.717452  8.982995  8.442572
4  9.925138  5.642729  6.262936  4.638503  0.324140
***************************************************************************
     0    1    2    3    4    5    6    7    8    9
0  1.0  1.0  1.0  1.0  1.0  1.0  1.0  1.0  1.0  1.0
1  1.0  1.0  1.0  1.0  1.0  1.0  1.0  1.0  1.0  1.0
2  1.0  1.0  1.0  1.0  1.0  1.0  1.0  1.0  1.0  1.0
3  1.0  1.0  1.0  1.0  1.0  1.0  1.0  1.0  1.0  1.0
4  1.0  1.0  1.0  1.0  1.0  1.0  1.0  1.0  1.0  1.0
***************************************************************************
          0         1         2         3         4    5    6    7    8    9
0  4.601823  9.313346  2.633427  3.897216  4.408691  NaN  NaN  NaN  NaN  NaN
1  4.174852  6.200852  4.022953  7.493926  3.493446  NaN  NaN  NaN  NaN  NaN
2  7.512218  6.932527  0.304936  3.103871  4.168875  NaN  NaN  NaN  NaN  NaN
3  6.474867  0.768932  4.717452  8.982995  8.442572  NaN  NaN  NaN  NaN  NaN
4  9.925138  5.642729  6.262936  4.638503  0.324140  NaN  NaN  NaN  NaN  NaN
5  1.000000  1.000000  1.000000  1.000000  1.000000  1.0  1.0  1.0  1.0  1.0
6  1.000000  1.000000  1.000000  1.000000  1.000000  1.0  1.0  1.0  1.0  1.0
7  1.000000  1.000000  1.000000  1.000000  1.000000  1.0  1.0  1.0  1.0  1.0
8  1.000000  1.000000  1.000000  1.000000  1.000000  1.0  1.0  1.0  1.0  1.0
9  1.000000  1.000000  1.000000  1.000000  1.000000  1.0  1.0  1.0  1.0  1.0
***************************************************************************
          0         1         2         3         4    5    6    7    8    9
0  1.000000  1.000000  1.000000  1.000000  1.000000  1.0  1.0  1.0  1.0  1.0
1  1.000000  1.000000  1.000000  1.000000  1.000000  1.0  1.0  1.0  1.0  1.0
2  1.000000  1.000000  1.000000  1.000000  1.000000  1.0  1.0  1.0  1.0  1.0
3  1.000000  1.000000  1.000000  1.000000  1.000000  1.0  1.0  1.0  1.0  1.0
4  1.000000  1.000000  1.000000  1.000000  1.000000  1.0  1.0  1.0  1.0  1.0
5  4.601823  9.313346  2.633427  3.897216  4.408691  NaN  NaN  NaN  NaN  NaN
6  4.174852  6.200852  4.022953  7.493926  3.493446  NaN  NaN  NaN  NaN  NaN
7  7.512218  6.932527  0.304936  3.103871  4.168875  NaN  NaN  NaN  NaN  NaN
8  6.474867  0.768932  4.717452  8.982995  8.442572  NaN  NaN  NaN  NaN  NaN
9  9.925138  5.642729  6.262936  4.638503  0.324140  NaN  NaN  NaN  NaN  NaN
***************************************************************************
0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
5    0.0
6    0.0
7    0.0
8    0.0
9    0.0
dtype: float64

           0         1         2         3         4    5    6    7    8    9
0   4.601823  9.313346  2.633427  3.897216  4.408691  NaN  NaN  NaN  NaN  NaN
1   4.174852  6.200852  4.022953  7.493926  3.493446  NaN  NaN  NaN  NaN  NaN
2   7.512218  6.932527  0.304936  3.103871  4.168875  NaN  NaN  NaN  NaN  NaN
3   6.474867  0.768932  4.717452  8.982995  8.442572  NaN  NaN  NaN  NaN  NaN
4   9.925138  5.642729  6.262936  4.638503  0.324140  NaN  NaN  NaN  NaN  NaN
5   1.000000  1.000000  1.000000  1.000000  1.000000  1.0  1.0  1.0  1.0  1.0
6   1.000000  1.000000  1.000000  1.000000  1.000000  1.0  1.0  1.0  1.0  1.0
7   1.000000  1.000000  1.000000  1.000000  1.000000  1.0  1.0  1.0  1.0  1.0
8   1.000000  1.000000  1.000000  1.000000  1.000000  1.0  1.0  1.0  1.0  1.0
9   1.000000  1.000000  1.000000  1.000000  1.000000  1.0  1.0  1.0  1.0  1.0
10  0.000000  0.000000  0.000000  0.000000  0.000000  0.0  0.0  0.0  0.0  0.0

## Task 6d: Grouping

Demonstrate a `groupby`.

+ Create a new column with the label "region" in the iris data frame. This column will indicates geographic regions of the US where measurments were taken. Values should include:  'Southeast', 'Northeast', 'Midwest', 'Southwest', 'Northwest'. Use these randomly.
+ Use `groupby` to get a new data frame of means for each species in each region.
+ Add a `dev_stage` column by randomly selecting from the values "early" and "late".
+ Use `groupby` to get a new data frame of means for each species,in each region and each development stage.
+ Use the `count` function (just like you used the `mean` function) to identify how many rows in the table belong to each combination of species + region + developmental stage.

In [74]:
iris_df['region']=np.random.choice(['Southeast','Northeast','Midwest','Southwest','Northwest'],iris_df.shape[0])
iris_df['dev_stage']=np.random.choice(['early','late'],iris_df.shape[0])
#if you don't include iris_df.shape[0] everything is assigned the same region
print(iris_df)
print('*'*75)
print(iris_df.groupby(['species','region','dev_stage']).mean())
print('*'*75)
print(iris_df.groupby(['species','region','dev_stage']).count())

     sepal_length  sepal_width  petal_length  petal_width    species  \
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

        region dev_stage
0    Northwest     early
1    Southeast      late
2    Southeast     early
3    Northeast      late
4    Southeast     early
..         ...       ...
145  Northwest      late
146  Northeast      late
147  Northeast     early
148  Northwest      late
149  Southeast     early

[150 rows x 7 columns]
***************************************************************************
                                sepal_length  sepal_width  petal_length  \
species    region    dev_stage
setosa     Midwest   early          5.180000     3.540000      1.540000
                     late           4.950000     3.500000      1.483333
           Northeast early          5.125000     3.475000      1.575000
                     late           4.800000     3.100000      1.366667
           Northwest early          5.057143     3.442857      1.528571
                     late           4.825000     3.025000      1.375000
           Southeast early          4.887500     3.437500      1.362500
                     late           4.775000     3.250000      1.525000
           Southwest early          5.125000     3.425000      1.450000
                     late           5.280000     3.720000      1.440000
versicolor Midwest   early          6.066667     2.566667      4.200000
                     late           6.200000     2.200000      4.500000
           Northeast early          5.800000     2.700000      4.100000
                     late           6.250000     2.700000      4.383333
           Northwest early          5.783333     2.866667      4.233333
                     late           5.930000     2.810000      4.350000
           Southeast early          5.566667     2.900000      4.200000
                     late           5.640000     2.640000      4.020000
           Southwest early          6.100000     2.900000      4.450000
                     late           6.133333     2.900000      4.266667
virginica  Midwest   early          6.585714     3.085714      5.614286
                     late           6.466667     2.900000      5.566667
           Northeast early          6.400000     2.866667      5.300000
                     late           6.483333     2.933333      5.366667
           Northwest early          7.050000     3.137500      5.937500
                     late           6.342857     2.900000      5.328571
           Southeast early          6.625000     3.050000      5.575000
                     late           6.450000     2.783333      5.416667
           Southwest early          6.800000     3.200000      5.650000
                     late           6.550000     2.875000      5.650000

                                petal_width
species    region    dev_stage
setosa     Midwest   early         0.360000
                     late          0.216667
           Northeast early         0.250000
                     late          0.166667
           Northwest early         0.257143
                     late          0.250000
           Southeast early         0.212500
                     late          0.200000
           Southwest early         0.325000
                     late          0.200000
versicolor Midwest   early         1.233333
                     late          1.500000
           Northeast early         1.216667
                     late          1.366667
           Northwest early         1.333333
                     late          1.360000
           Southeast early         1.466667
                     late          1.200000
           Southwest early         1.375000
                     late          1.350000
virginica  Midwest   early         2.085714
                     late          2.100000
           Northeast early         1.900000
                     late          1.950000
           Northwest early         2.125000
                     late          1.942857
           Southeast early         2.000000
                     late          2.000000
           Southwest early         2.050000
                     late          2.075000
***************************************************************************
                                sepal_length  sepal_width  petal_length  \
species    region    dev_stage
setosa     Midwest   early                 5            5             5
                     late                  6            6             6
           Northeast early                 4            4             4
                     late                  3            3             3
           Northwest early                 7            7             7
                     late                  4            4             4
           Southeast early                 8            8             8
                     late                  4            4             4
           Southwest early                 4            4             4
                     late                  5            5             5
versicolor Midwest   early                 3            3             3
                     late                  1            1             1
           Northeast early                 6            6             6
                     late                  6            6             6
           Northwest early                 6            6             6
                     late                 10           10            10
           Southeast early                 3            3             3
                     late                  5            5             5
           Southwest early                 4            4             4
                     late                  6            6             6
virginica  Midwest   early                 7            7             7
                     late                  3            3             3
           Northeast early                 3            3             3
                     late                  6            6             6
           Northwest early                 8            8             8
                     late                  7            7             7
           Southeast early                 4            4             4
                     late                  6            6             6
           Southwest early                 2            2             2
                     late                  4            4             4

                                petal_width
species    region    dev_stage
setosa     Midwest   early                5
                     late                 6
           Northeast early                4
                     late                 3
           Northwest early                7
                     late                 4
           Southeast early                8
                     late                 4
           Southwest early                4
                     late                 5
versicolor Midwest   early                3
                     late                 1
           Northeast early                6
                     late                 6
           Northwest early                6
                     late                10
           Southeast early                3
                     late                 5
           Southwest early                4
                     late                 6
virginica  Midwest   early                7
                     late                 3
           Northeast early                3
                     late                 6
           Northwest early                8
                     late                 7
           Southeast early                4
                     late                 6
           Southwest early                2
                     late                 4